body{
	padding: 15px;
}

	
.jumbotron h1{
	text-align: center;
	color: blue;
}
	
}
h4 a:hover{
	text-decoration: none;
}
h4 a:link{
	text-decoration: none;
}
h4:nth(odd){
	background-color: #ccc;
	border: 3px inset black;
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	font-family: Helvetica;

}
.panel-title{
	font-size: 2em;
	color: blue;
}
.panel-body{
	font-size: 1.5em;
}